<div class="page__footer">
    <div class="page__footer-copyright">
        Website &copy; {{ site.time | date: '%Y' }} <a href="{{ site.copyright_url | default: site.url }}">{{ site.copyright | default: site.name }}</a> | <a href="{{ '/about#disclaimer' | relative_url }}">Disclaimer</a> | <a href="https://github.com/ivalaginja/babycat" rel="nofollow noopener noreferrer"><img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="GitHub Logo" style="width: 20px; height: 20px; vertical-align: middle;"> GitHub</a>
    </div>
</div>
