<footer>
    <div class="footer-content">
        <div class="social-media">
            <a href="https://twitter.com/yourprofile" target="_blank">Twitter</a>
            <a href="https://facebook.com/yourprofile" target="_blank">Facebook</a>
            <a href="https://instagram.com/yourprofile" target="_blank">Instagram</a>
        </div>
        <div class="contact-info">
            <p>Contact us: <a href="mailto:info@babycat.com">info@babycat.com</a></p>
        </div>
        <div class="copyright">
            <p>&copy; 2023 BabyCAT. All rights reserved.</p>
        </div>
    </div>
</footer>
